
/* 
main colors:
yellow: f7f1ba
blue: 92d9f6
gray: f4f1eb
gark gray: 4e4d44
darker blue: 74aec6
black: 0b0a08
*/


.headerWrap {
    width: 110%;
    height: 100px;
    background-color: #74aec6;
    display: flex;
    align-content: center;
    transform: translateX(-5%) translateY(-10%);
    flex-direction: row;
    justify-content: center;
}

.drawingContainer{
  display: flex;
  align-content: center;
  /* transform: translateX(-5%) translateY(-10%); */
  flex-direction: row;
  justify-content: center;
}

.flexContainer{
    /* margin-top: 15%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.post{
    position: relative;
    width: 200px;
    height: 200px;
    outline: 3px;
    text-align: center;
    vertical-align: center;
    background-image: url(../assets/drawnframe5.png);
    background-repeat: no-repeat;
    background-size: 200px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
  }

.exploreCommunityBackground{
  background-image: url("../assets/wallTextures/natural_paper.png");
  background-repeat: repeat;
}

.headerFont{
  font-family: ItIsWritten;
  font-size: 30px;
  /* position: absolute;
  left: 40%; */
  align-self: center;
}

#ecDrawing1{
  align-self: center;
}
#ecDrawing2{
    position: absolute;
    top:48%;
    right: 8%;
    width: 100px;
    opacity:50%
}
#circleCommunity:hover{
    animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.ripCommunity{
  background-image: url(../assets/paperRip.png);
  background-repeat: repeat-x;
  background-size: 350px;
  background-position: top;
  width: 110%;
  height: 30%;
  position: absolute;
  top: 70px;
  left: -10px;
}

.headerFont2{
  font-family: ItIsWritten;
  font-size: 30px;
  /* position: relative; */
  /* left: 10%; */
  align-self: center;
  color:rgba(0, 0, 0, 0.493)
}