/* Sticky note effects credit: 
  https://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934  */

/* 
main colors:
yellow: f7f1ba
blue: 92d9f6
gray: f4f1eb
gark gray: 4e4d44
darker blue: 74aec6
black: 0b0a08
*/


.headerWrap {
    width: 100vw;
    height: 64px;
    padding:0;
    margin-top: 0;
    background-color: #486c7c;
    /* opacity: 50; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* transform: translateX(-2%) translateY(-5%); */
}

#addButton{
  cursor: pointer;
}

#save{
  cursor: pointer;
}

#delete{
  cursor: pointer;
}

#drag{
  cursor: pointer;
}
/* 
ul li a:hover,ul li a:focus{
    position:relative;
    z-index:2;
    transition: transform .15s linear;
    transform: scale(1.1);
} */

#back{
    max-width: 40px;
    max-height: 40px;
    flex:1;
}

#save{
    max-width: 65px;
    max-height: 40px;
    flex:1;
}

.headerWrap a{
    flex:2;
    text-align: center;
}

.toolWrap {
    width: 100vw;
    height: 48px;
    background-color: #74aec6;
    /* opacity:50%; */
    /* transform: translate(-2%, -5%); */
}

#more {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}


.dropdownWrap {
  position: relative;
  display: inline-block;
}

#moreDropdown {
  display: none;
  position: absolute;
  min-width: 112px;
  right: 0px;
  background-color: #eeeeee;
  z-index: 1;
}

#moreDropdown a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display:block;
  text-align:center;
}

#moreDropdown a:hover{
  background-color: #ddd;
}
   
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
  z-index: 2;
}

.container li{
  list-style:none;
}


ul li{
  margin: 5%;
  z-index: 1;
}

h1 {
  font-size: 1.5em;
  text-align: left;
}
   
p {
  font-size: 1em;
  text-align: left;
}


/* #noteList {
  position: absolute;
  background-color: aqua;
} */

h2 {
  margin-block-start: 0.83em;
  font-size: 1rem;
}



.dragButton{
  float: right;
}

.alert {
  position: absolute !important;
}

.alert alert-info{
  position: absolute !important;
  height: 20px;
}

/* CSS.paintWorklet.addModule("") */

.wallBackground0{
  background-image: url("../assets/wallTextures/witewall_3.png");
  background-repeat: repeat;
}

.wallBackground1{
  background-image: url("../assets/wallTextures/cork-board.png");
  background-repeat: repeat;
}

.wallBackground2{
  background-image: url("../assets/wallTextures/grunge_wall.png");
  background-repeat: repeat;
}

.wallBackground3{
  background-image: url("../assets/wallTextures/mochaGrunge.png");
  background-repeat: repeat;
}

.wallBackground4{
  background-image: url("../assets/wallTextures/lined_paper.png");
  background-repeat: repeat;
}

.texture0{
  border-radius: 40px;
  background-image: url("../assets/wallTextures/witewall_3.png");
  width: 30px;
  height: 30px;
  border: 2px solid black;
  position: absolute;
  left: 110px;
  top: 72px;
}
.texture1{
  border-radius: 40px;
  background-image: url("../assets/wallTextures/cork-board.png");
  width: 30px;
  height: 30px;
  border: 2px solid black;
  position: absolute;
  left: 150px;
  top: 72px;
}
.texture2{
  border-radius: 40px;
  background-image: url("../assets/wallTextures/grunge_wall.png");
  width: 30px;
  height: 30px;
  border: 2px solid black;
  position: absolute;
  left: 190px;
  top: 72px;
}
.texture3{
  border-radius: 40px;
  background-image: url("../assets/wallTextures/mochaGrunge.png");
  width: 30px;
  height: 30px;
  border: 2px solid black;
  position: absolute;
  left: 230px;
  top: 72px;
}
.texture4{
  border-radius: 40px;
  background-image: url("../assets/wallTextures/lined_paper.png");
  width: 30px;
  height: 30px;
  border: 2px solid black;
  position: absolute;
  left: 270px;
  top: 72px;
}

.colorbutton{
  position: relative;
  float: right;
  width: 30px;
  height: 25px;
  margin-right: 30px;
  margin-top: 5px;
  
}

.deleteButton{
  position: relative;
  float: right;
  margin-top: -5px;
  
}

/* .container li a{

} */

.note a{
  width: 250px;
  height: 250px;
  padding: 12px;
  background: url("../assets/stickynotes/sticky_blue.png")no-repeat left top;
  display:block;
}



.container li div{
  background:none;
}


.note{
  border: 1px;
  z-index: 1;
}

.textContainer{
  text-overflow: clip;
  margin-left:25px;
  max-height: 100px;
  
}

.headerContainer{
  margin-left: 25px;
  margin-right: 5px;
  font-weight: bold;
}

#colorDropdown {
  display: none;
  position: absolute;
  width: 112px;
  background-color: #486c7c;
  z-index: 999;
  opacity: 80%;
}

#colorDropdown a {
  background:none;
  height:50px;
  width: 112px;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display:block;
  text-align:center;
}

#colorDropdown a:hover{
  background-color: #ddd;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper:hover::after {
  position: absolute;
  content: attr(data-tooltip);
  bottom: -7.2em;
  right: -1em;
  /* align-items: flex-end; */
  background-color: #486c7cad;
  color: white;
  padding: .5em .5em;
  font-size: 0.8em;
}