/* Sticky note effects credit: 
  https://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934  */

.headerWrap {
    width: 100vw;
    height: 64px;
    padding:0;
    margin-top: 0;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(-2%) translateY(-5%);
}

#addButton{
  cursor: pointer;
}

#save{
  cursor: pointer;
}

#textBox{
  cursor: pointer;
}

ul li a:hover,ul li a:focus{
    position:relative;
    z-index:5;
    transition: transform .15s linear;
    transform: scale(1.1);
}

#back{
    max-width: 40px;
    max-height: 40px;
    flex:1;
}

#save{
    max-width: 65px;
    max-height: 40px;
    flex:1;
}

.headerWrap a{
    flex:2;
    text-align: center;
    text-decoration: underline;
}

.toolWrap {
    width: 100vw;
    height: 48px;
    background-color: #eeeeee;
    transform: translate(-2%, -5%);
}


#more {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}


.dropdownWrap {
  position: relative;
  display: inline-block;
}

#moreDropdown {
  display: none;
  position: absolute;
  min-width: 112px;
  right: 0px;
  background-color: #eeeeee;
  z-index: 1;
}

#moreDropdown a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display:block;
  text-align:center;
}

#moreDropdown a:hover{
  background-color: #ddd;
}
   
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
}

.container li{
  list-style:none;
}

.container li a{
  width: 200px;
  height: 200px;
  padding: 12px;
  color:#000000;
  background:#c4c4c4;
  display:block;
  text-decoration:none;
}

ul li{
  margin: 5%;
}

h1 {
  font-size: 1.5em;
  text-align: left;
}
   
p {
  font-size: 1em;
  text-align: left;
}

.note{
  border: 1px;
}

#noteList {
  position: absolute;
  background-color: aqua;
}