h1 {
    text-align: center;
    color: #17a2b8;
    font-family: "Gill Sans", sans-serif
}

.loginText {
    margin-top: 8em;
    margin-bottom: 2em;
}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container {
    height: 100%;
    width: 30%;
    bottom: 0px;
}

/* html {
    display: table;
    margin: auto;
}
body {
    margin-top: 5em;
    display: table-cell;
    vertical-align: center;
} */

.userInput {
    margin-bottom: 2em;
}

.userInput input::placeholder {
    color: #9dc4ca
}

#createAccount {
    color: #17a2b8;
}

.facebookLogin{
    text-align: center;
}

/* .loginImg{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/wallTextures/hip_square.png);
    width: 45%;
    right: 0px;
}

h2{
    font-family: "Gill Sans", sans-serif;
}

#splash {
    height: 50%;
    width: 100%;
    align-self: center;
} */