#topSticker {
    /* height: 30vh;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color:#e0e0e0;
    display: flex;
    flex-direction: column; */
}

.buttonWrap a {
    max-width: 50%;
    top:50%;
    transform: translateY(35%);
    float:right;
}

.buttonWrap img {
    max-width: 40px;
    max-height: 40px;
    float:right;
}

.buttonWrap {
    margin-right: 5%;
    margin-left: auto;
    cursor: pointer;
    flex: 1;
    width: 69%;
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end; */
    position:relative
}


.welcomeWrap {  
    align-self: flex-start;
    flex: 3;
    padding-left: 41px;
}

.welcomeWrap h1{
    text-align: right;
    font-weight: bold;
    margin-top: 7%;
    flex: 2;
}

.groupWrap{
    width: 100vw;
    height: 70vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5vw;
}

.singleWrap {
    cursor:pointer;
    /* width: 307px;
    height: 90px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.singleWrap:hover {
    color: grey;
  }

.textWrap {
    width: 177px;
    height: 20px;
    margin-left: 40px;
}

/* .alertBox{
    width: 300px;
    height: 100px;
    background-color: darkgray;
    display:none;
    top: 40%;
    left: 23%;
    position: fixed;
    text-align: center;
    vertical-align: middle; 
    justify-content: center;
  } */
  
  .rightalign {
    font-size: 1em;
    text-align: right;
  }

.card {
    display: none; 
    top: 40%;
    left: 23%;
    position: fixed !important;
    text-align: center;
    vertical-align: middle; 
}

.alert-button-wrap {
    padding-left: 3em;
    padding-right: 3em;
}

#noButton {
    float: left;
} 

#yesButton {
    float: right;
}


.wallBackgroundIndex{
    background-image: url("../assets/wallTextures/ricepaperYellow.png");
    background-repeat: repeat;
  }

  .headerIndex{
    position:relative;
    top: 10%;
    right: 50%;
  }

  .imagesize{
    width: 90%;
    margin: 20px;
    animation: fadein 2s;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


  .centered{
    position: relative;
    /* top: 50%; */
    width: 100%;
    text-align: center;
    font-size: 50px;
  }

  .centeredText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  