<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <head>
        <link rel="stylesheet" href="../css/index.css">
      </head>
    <body>
        <div id="topSticker">
            <div class='welcomeWrap'>
                <h1>Welcome,<br/>Zack!</h1>
            </div>
            <div onclick="location.href='/tutorial';"  class='buttonWrap'>
                <img src='icons/L/next.png'>
                <a>start a tutorial</a> 
            </div>
            <div onclick="location.href='/settings';" class='buttonWrap'>
                <img src='icons/L/next.png'>
                <a>settings</a>
            </div>
        </div>
        
        <div class ="groupWrap">
            <div onclick="location.href='/createWalls';" class="singleWrap">
                <img src='icons/icons:redirect.png'>
                <a class="textWrap">Create Walls</a>
            </div>
            <div onclick="location.href='html/viewGallery.html';" class="singleWrap">
                <img src='icons/icons:redirect.png'>
                <a class="textWrap">View Gallery</a>
            </div>
            <div onclick="location.href='html/exploreCommunity.html';" class="singleWrap">
                <img src='icons/icons:redirect.png'>
                <a class="textWrap">Explore Community</a>
            </div>
        </div>

    </body>
</html>