<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <head>
        <link rel="stylesheet" href="../css/styles.css">
        <script src="../js/alerts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      </head>
    <body>
        <div id="topSticker">
            <div class='welcomeWrap'>
                <h1>Welcome,<br/>Zack!</h1>
            </div>
            <div onclick="location.href='/tutorial';"  class='buttonWrap'>
                <img src='icons/L/next.png'>
                <a>start a tutorial</a> 
            </div>
            <div onclick="location.href='/settings';" class='buttonWrap'>
                <img src='icons/L/next.png'>
                <a>settings</a>
            </div>
        </div>
        
        {{!-- alert --}}
        <div class = "alertBox" id = "alert1"> 
            <p>Would you like to create a wall?</p>
            <button onclick="location.href='/createWalls';">
            Yes
            </button>
            <button onclick = "hideAlert('#alert1')">
            No
            </button>
        </div>
        {{!-- main buttons --}}
        <div class ="groupWrap">
            <div  class="singleWrap" onclick="showAlert('#alert1')">
                <img src='icons/redirect.png'>
                <a class="textWrap"  >Create Walls</a>
            </div>
            <div onclick="location.href='/viewGallery'" class="singleWrap">
                <img src='icons/redirect.png'>
                <a class="textWrap">View Gallery</a>
            </div>
            <div onclick="location.href='/exploreCommunity';" class="singleWrap">
                <img src='icons/redirect.png'>
                <a class="textWrap">Explore Community</a>
            </div>
        </div>
        




    </body>
</html>