<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"   integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="   crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="../css/gallery.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/community.css">
        <script src="../js/createWall.js" ></script>
        <script src="../js/alerts.js" ></script>
        <script src="../js/gallery.js"></script>

    </head>


    <body class = "exploreCommunityBackground">
        <div class="headerWrap">
            <img id='previous' src='../icons/L/next.png' style="position:absolute; left:7%;  top: 30px;">  
        </div>
        <div class="ripCommunity"></div>
        <div class = "vgContainer">
            <p class = "headerFont2">Using "save" button in a new wall to create your own gallery!</p>
            <img src = '../assets/drawingLightbulb.png' id="vgDrawing1">
        </div>

<!--         <div>
            <div class = "project">
                <h5 onclick="location.href='/samplePage';">Sample project</h5>
            </div>
        </div> -->

        {{!-- {{#each project}}
		    <div class= "project">
			    <a href='#' onclick="window.localStorage.setItem('currentWall', $(this).text());location.href='/createWalls'"><h3>{{name}}</h3></a>
			    <p>{{dates}}</p>
		    </div>
	    {{/each}} --}}

    </body>
</html>